

CalendarView QWidget {
    background-color: grayLightColor;
}

CalendarView QWidget#calendarNavBar {
    background-color: headerColor;
}
QCalendarWidget QToolButton {
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 11.5pt;
    icon-size: 40px, 10px;
    background-color: headerColor;
}

QCalendarWidget QMenu {
    font-weight: normal;
    width: 150px;
    left: 20px;
    background-color: white;
    selection-color: black;
    selection-background-color: grayMediumColor;
}
QCalendarWidget QToolButton::down-arrow {
    image: none;
}

/*
QCalendarWidget QMenu:enabled {
    background-color: red;
}*/


QCalendarWidget QAbstractItemView {
    selection-background-color: selectionColor;
}

