/*
COLORS from app
    primaryColor: #2196F3;
    primaryDarkColor: #1976D2;
    accentColor: #FBC02D;
    formDescriptionTextColor: #676767;
    colorErrorText: #ae2323;
*/

/* ---- MainWindow --------------------------------------------------------------------- */
* {
    font-family: "Ubuntu Beta", "Bitstream Vera Sans", DejaVu Sans, Tahoma, sans-serif;
    /*font-weight: lighter;*/
    font-size: 11pt;
}

QMainWindow QSplitter::handle {
    border: none;
    height: 6px;
    background-color: grayMediumColor;
}
/* not working */
QMainWindow QSplitter::handle:hover {
    background-color: red;
}


QMainWindow QStatusBar {
    background-color: grayMediumColor;
}
QMainWindow QStatusBar QLabel {
    background-color: transparent;
}
QMainWindow QToolBar {
    padding: 5px;
}
QMainWindow QToolBar QToolButton {
    padding: 5px;
    min-width: 10px;
    height: 15px;
}



/* ---- some recurring items --------------------------------------------------------------------- */

QPushButton {
    background-color: white;
    border: 1px solid grayLightColor;
    padding: 8px;
    width: 90px;
    border-radius: 3px;
}

QPushButton:disabled {
    color: grayMediumColor;
}
QPushButton:focus:pressed {
    background-color: grayMediumColor;
}


QPushButton#okButton {
    background-color: primaryDarkColor;
    color: white;
    /*width: 90px;*/
}

QPushButton#okButton:disabled {
    background-color: grayLightColor;
    color: grayDarkColor;
    border: 1px solid grayMediumColor;
}
QPushButton#okButton:focus:pressed {
    background-color: lightblue;
}



QPushButton#smallButton {
    background-color: primaryDarkColor;
    color: white;
    border: none;
    width: 35px;
    padding: 6px;
}

QPushButton#smallButton:disabled {
    background-color: grayLightColor;
    color: darkgray;
    border: 1px solid grayMediumColor;
}
QPushButton#smallButton:focus:pressed {
    background-color: grayMediumColor;
}


QLabel[type='error'] {
    color: errorColor;
}


QLabel#importantLabel {
    font-weight: bold;
    /*qproperty-alignment: AlignCenter;*/
}

QFrame#automaticLabelingQuestion {
    background-color: white;
    /*border: 2px solid errorColor;*/
}