

QLabel {
    padding: 16px;
    font-size: 12pt;
}
QLabel[status='noEntries'] {
    background-color: notificationNoDetectionColor;
}
QLabel[status='fullyLabeled'] {
    background-color: notificationFullyLabeledColor;
}
QLabel[status='partiallyLabeled'] {
    background-color: notificationPartiallyLabeledColor;
}

