QFrame {
    background-color: lightgrey;
    border: none;
}

QSlider::handle:horizontal {
    image: url("./res/location_marker_split.svg");
    width: 20px;
    height: 25px;
    margin: -10px 0;
}
/* make room for bigger handle */
QSlider:horizontal {
    min-height: 20px;
    height: 35px;
    background-color: transparent;
}
QSlider::groove:horizontal {
    height: 10px;
    border: none;
}

QSlider::add-page {
    background: grey;
}
QSlider::sub-page {
    background-color: #FBC02D;
}
