/* ---- TimelineHeader -------------------------------------------------------------------- */
TimelineView QLabel {
    background-color: transparent;
}


TimelineView TimelineHeader {
    background-color: primaryColor;
    padding: 15px;
}

TimelineView TimelineHeader QLabel {
    font-size: 14pt;
    color: white;
    font-weight: bold;
}

TimelineView QToolButton {
    background-color: transparent;
    min-width: 10px;
    max-width: 100px;
}

/* ---- TimelineContent ------------------------------------------------------------------- */

TimelineView QScrollArea {
    border: none;
    background-color: none;
}


QListWidget {
    background-color: grayLightColor
}

/*
QListWidget:item {
    border-bottom: 2px solid white;
}*/

QListWidget:item:selected {
    background-color: selectionColor;
}

/*
QListWidget:item QFrame#selectionMarker {
    background-color: green;
}*/

/*
QListWidget:item:!selected QFrame .QLabel  {
    background-color: accentYellowColor;
}*/


/*
QListWidget:item:!active { /*, :!disabled
    background-color: accentYellowColor;
}*/

/* disables item-selection color
Entry[type='Stop'] {
    background-color: grayMediumColor;
}
Entry[type='Movement'] {
    background-color: grayLightColor;
}
*/

/* ---- Label lists -------------------------------------------------------------------------- */

/* confirmed */
StopLabelWidget[isConfirmed='true'] QLabel{
    color: gray;
}
/* not confirmed */
StopLabelWidget[isConfirmed='false'] QLabel{
    color: dodgerblue;
}


QComboBox[isConfirmed='true'] {
    background-color: confirmedColor; /*#C5D0D4; /*#B6C6CC; /* #8CCF76;*/
    border-radius: 3px;
}
QComboBox[isConfirmed='false'] {
    background-color: notConfirmedColor;
    border-radius: 3px;
}
QComboBox[isConfirmed='true']:hover:focus {
    background-color: #B7BABD;
    border-radius: 3px;
}
QComboBox[isConfirmed='false']:hover:focus {
    background-color: #4B78AB;
    border-radius: 3px;
}

/*
#MovementLabelList {
    border-left: 3px solid orange;
}
#StopLabelList {
    border-left: 3px solid blue;
}*/


QComboBox {
    /*border: 2px solid #D4D4D4;*/
    border: none;
    font-size: 11.5pt;
    padding: 5px;
    color: black;
    selection-background-color: grayMediumColor;
}
/* responds to arrow-down-button */
QComboBox::drop-down {
    width: 40px;
    image: url(dropDownArrowPath);
}



QComboBox:item:disabled {
    color: grey;
}
QComboBox QAbstractItemView {
    /*border: 3px solid cadetblue;*/
}

/*
QComboBox QAbstractItemView::item {
    min-height: 50px;
}
QAbstractItemView::item {
    color: black;
    background-color: lightgray;
    min-height: 50px;
}
*/

